#book-boxes {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(12em, 14em));
  gap: 1em;
  padding: 1em;
}

.book-box {
  display: grid;
  flex-direction: column;
  background-color: var(--card-background-color);
  padding: 1em;
  gap: 0.25em; 
}

.book-image-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.book-image div {
  padding: 0.5em 0 0.5em 0; 
  background: rgba(255, 255, 255, 0.8); /* last # is percent opacity */
  color: #063D0F;
  font-weight: bold;
  transform: translateY(1.5em);
  margin-bottom: -2.25em;
  text-align: center;
  cursor: pointer;
  width: 165px;
}

.book-title {
  font-family: "Marcellus SC";
  width: 165px; /* wraps the book title */
  font-weight: bold;
}

.book-author {
  font-style: italic;
}

.book-price {
  font-weight: bold;
  margin-top: auto;
}

.book-box button {
  padding: 0.5em 1em;
  align-self: baseline;
  margin-top: auto;
}
