.category-buttons {
  display: flex;
  flex-direction: row;
  text-align: center;
  
}

.button.selected-category-button {
  background-color: var(--secondary-background-color);
  color: var(--default-text-color);
  font-weight: bold;
}

.button.unselected-category-button,
.button.unselected-category-button:visited {
  background-color: var(--secondary-background-color);
  color: var(--default-text-color);
}

.button.unselected-category-button:hover,
.button.unselected-category-button:active {
  font-weight: bold;
  background-color: var(--secondary-background-color);
}
